<%  all_project.each do |project| %>
  <% all_task(project).each do |task| %>
    <%= task.name %>
    <%= project.name %>
    
    <% if (task.state) %>
      <%= "finished" %>
      <% else %>
      <%= "unfinished" %>
      <%end%>
  <%end%>
<% end %>
